:root{
    font-size:1vw;
    --mainFont:arial;
    --majorFont:arial;
    --minorFont:arial;
    --mainColor:black;
    --majorColor:black;
    --minorColor:black;
    --textColor:black;
    --backgroundColor:white;
}
*{
    margin:0;
    padding:0;
    outline:none transparent !important;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
}
html,body{
    height:100%;
    color:var(--textColor);
    overflow:hidden;
}

@media(max-width:15cm){
    :root{
        font-size:3vw;
    }
}

[hidden] {display: none !important};