.courseview{
    min-width:28.765em;
    flex:1;
}
.poster{
    width:100%;
    height:20.98765em;
    object-fit:cover;
    object-position:center;
}
.name{
    font-family:var(--mainFont);
    font-weight:700;
    font-size:2.5em;
    text-transform:capitalize;
    color:var(--textColor);
    margin-left:0.6416em;
    margin-top:1em;
}
.price{
    font-family:var(--mainFont);
    font-weight:700;
    font-size:1.5em;
    text-transform:capitalize;
    color:var(--mainColor);
    margin-left:1.7284em;
    margin-top:0.85em;
}

@media(max-width:15cm){
    .courseview{
        min-width:100%;
        width:100%;
    }
}
